/*COLORS: 
PINK: #FE2CEC
ORANGE: #EF9708
TEAL: #15EFF1
*/
input:hover{
    border: 2px solid #15EFF1;
    color: #15EFF1;
}


h1{
    background: none;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    color: #FE2CEC;
    margin: 10px;
    padding: 10px 20px;
    text-shadow: 0 0 4px black;
    text-shadow: 0 0 26px #FE2CEC;
    font-family: Mr Dafoe;
    font-size: 50px;
    font-weight: normal;
    }
html{
    height: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: 'Press Start 2P';
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #88315b, #27102c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #88315b, #27102c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

li{
    background: none;
    height: 40px;
    line-height: 40px;
    color: #EF9708;
    padding: 10px 40px;
    font-size: 10px;
    text-shadow: 0 0 6px #FE2CEC;
    text-transform: uppercase;
}
li:hover{
    color: #15EFF1;
    font-size: 12px;
    text-shadow: 0 0 5px #15EFF1;
    box-shadow: 0 0 10px #15EFF1;
    transition: all .3s;
}
li:nth-child(2n){
    background: #f7f7f730;
    
}
li:last-child{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

::placeholder{
    color: #15EFF1;
    text-shadow: 0 0 5px #15EFF1;
}
input:focus{
    background: none;
    border: 3px solid #15EFF1;
    outline: none;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 5px #EF9708;
    color: #15EFF1;
    box-shadow: 0 0 10px #15EFF1;
    
}
#container{
    box-shadow: 0 0 40px #15EFF1;
    width: 360px;
    margin: 100px auto;
    background: none;
    border: 2px solid #15EFF1;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.completed{
    color: #15EFF170;
    text-decoration: line-through;
}

input{
    font-size: 24px;
    font-family: 'Press Start 2P';
    text-transform: capitalize;
    background: none;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #15EFF1;
}
